{% extends "base.html" %}

{% block content %}


<!-- source https://github.com/spacemadev/elevate-free-tailwind-business-template/ -->
<section id="our-team" class="bg-gray-100 py-32">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold text-center mb-8 primary-color">Meet Our Team</h2>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            <!-- Team Member 1 -->
            <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                <img src="https://imgur.com/yVZYRO2.png" alt="Team Member 1" class="w-full rounded-full mb-4">
                <h3 class="text-xl font-semibold mb-2">Gauthier "Le GOAT" Vannesson</h3>
                <p class="text-gray-700">Role: Project lead, data expert, developper, handsome</p>
            </div>

            <!-- Team Member 2 -->
            <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                <img src="https://imgur.com/Rez5Xte.png" alt="Team Member 2" class="w-full rounded-full mb-4">
                <h3 class="text-xl font-semibold mb-2">Samuel "Le Mestre" Thorez-Debrucq</h3>
                <p class="text-gray-700">Role: Developper</p>
            </div>

            <!-- Team Member 3 -->
            <div class="bg-white rounded-lg shadow-md p-6 my-6 text-center">
                <img src="https://imgur.com/XPAI1Jw.png" alt="Team Member 3" class="w-full rounded-full mb-4">
                <h3 class="text-xl font-semibold mb-2">Mr Tanaka</h3>
                <p class="text-gray-700">Role: Enigmatic CEO</p>
            </div>
        </div>
    </div>
</section>



{% endblock %}