{% extends 'base.html' %}

{% block title %}Your history{% endblock %}

{% block content %}

    <ul>
        Hello {{user.first_name}}, here is your prediction history:
        <table>
            <tr>
              <th>Weight</th>
              <th>Height</th>
              <th>Smoker</th>
              <th>Number of children</th>
              <th>Age</th>
              <th>Charge</th>
              <th>Date</th>
            </tr>
            
                {% for prediction in predictions %}
                <tr>
                <td>{{ prediction.weight }}</td>
                <td>{{ prediction.height }}</td>
                <td>{{ prediction.smoker }}</td>
                <td>{{ prediction.number_of_children }}</td>
                <td>{{ prediction.age }}</td>
                <td class='bold'>${{ prediction.prediction }}</td>
                <td>{{ prediction.prediction_date }}</td>
            </tr>
            {% endfor %}
          </table>

        <p class='padding_top'><a class="btn" href="/profile/">Back</a></p>
    </ul>
{% endblock %}