{% extends 'base.html'%}

{% block title%}Your profile{%endblock%}

{% block content%}

    <h2>Your profile</h2>
    <ul>

            <li>
                <p><strong>Profile information</strong></p>
                <p><strong>Username : </strong> {{ user.username }}</p>
                <p><strong>Last name : </strong> {{ user.last_name }}</p>
                <p><strong>First name : </strong> {{ user.first_name }}</p>
                <p><strong>Email : </strong> {{ user.last_name }}</p>
                <p><strong>Insurance information </strong></p>
                <p><strong>Date of birth : </strong> {{ user.date_of_birth}}</p>
                <p><strong>Sex : </strong> {{ user.sex}}</p>
                <p><strong>Smoker : </strong> {{ user.get_smoker_display }}</p>
                <p><strong>Weight : </strong> {{ user.weight }}</p>
                <p><strong>Number of children : </strong> {{ user.children}}</p>
                <p><strong>Home region : </strong> {{ user.get_region_display }}</p>
                <p><strong>Last charge prediction</strong></p>
                <p><strong></strong> {{ user.last_charge_prediction }}</p>
            </li>
    </ul>
    <p class='padding_top center'>
        <a href="{% url 'user_update' pk=user.pk%}" class="btn">Update your insurance information</a>
        <a href="{% url 'account_update' pk=user.pk%}" class="btn">Update your profile information</a>
        <a href="{% url 'password_change' %}" class="btn">Change password</a>
        {% if user.date_of_birth %}
            <a href="{% url 'prediction' %}" class="btn">Make a prediction</a>
        {%else%}
            <a class='fake_button'>Make a prediction</a>
        {% endif %}
        {%if predictions%}
            <a href="{% url 'history' %}" class="btn">Prediction history</a>
        {% endif %}
        {% if user.is_staff %}
        <a href="{% url 'all_predictions' %}" class="btn">Check all predictions</a>
        {%else%}
        {% comment %} <a class='fake_button'>Staff only</a> {% endcomment %}
        {% endif %}
        {% if user.is_broker %}
        <a href="{% url 'simulate_pred' pk=user.pk%}" class="btn">simulate predictions</a>
        {%else%}
        {% comment %} <a class='fake_button'>broker only</a> {% endcomment %}
        {% endif %}
        </p>
{%endblock%}