{% extends 'base.html' %}

{% load static%}
{% block content %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <script src='{%static "test.js" %}'></script>
    {{user.username|json_script:'json_username'}}
    {{user.date_of_birth|json_script:'json_date_of_birth'}} {% comment %} récupère le user.date_of_birth avec l'id json_date_of_birth {% endcomment %}
    {{user.weight|json_script:'json_weight'}}
    {{user.height|json_script:'json_height'}}
    {{user.sex|json_script:'json_sex'}}
    {{user.smoker|json_script:'json_smoker'}}
    {{user.region|json_script:'json_region'}}
    {{user.children|json_script:'json_children'}}
    {{ request.get_full_path|json_script:'json_url'}}

    <p><strong>Profile information</strong></p>

        <p><strong>Username : </strong> {{ user.username }}</p>
        <label for="date_birth">Date of birth: </label>
        <input class="pred" id='date_birth' name='date_birth' type="date"><br><br>

        <label for="weight">Weight: </label>
        <input class="pred" id='weight' name='weight' type="Number" min=0 max=800><br><br>
        <label for="height">Height: </label>
        <input class="pred" id='height' name='height' type="Number" min=0 max=250><br><br>

        <div id="bmi_html"></div>
        <br>

        <label for="sex">Specify your gender: </label>
  
        <select class="pred" id="sex" name="choices">
            <option value="male" id="sex_option_1">Male</option>
            <option value="female" id="sex_option_2">Female</option>
        </select>
        <br><br>

        <label for="smoker">Do you smoke? </label>
        <select class="pred" id="smoker" name="choices">
            <option value="yes" id="smoker_option_1">Yes</option>
            <option value="no" id="smoker_option_2">No</option>
        </select>
        <br><br>
        <label for="region">Specify your area of origin: </label>
        <select class="pred" id="region" name="choices">
            <option value="northeast" id="region_option_1">Northeast</option>
            <option value="northwest" id="region_option_2">Northwest</option>
            <option value="southeast" id="region_option_3">Southeast</option>
            <option value="southwest" id="region_option_4">Southwest</option>
        </select>
        <br><br>

        <label for="children">Children: </label>
        <input class="pred" id='children' name='children' type="Number" min=0 max=30><br><br>

        <label for="discount_html">Discount : </label>
        <input class="pred" id='discount_html' name='discount_html' type="Number" value=0 min=0 max=99><br><br>

        <br><br>


        <div id="prediction"></div><br><br>
        <p><a class="btn" href="/profile/">Back</a></p>
    {% endblock %}

