<header>
    <h1>Assur'Aimant</h1>
    <div class="links-container">
        <a class="link" href="{% url "home_view" %}">Home</a>
        <a class="link" href="/about">About Us</a>
        <a class="link" href="/contact">Contact</a>
    </div>
    <nav>
        {% if user.is_authenticated %}
        <p class="">Hello <strong class="name">{{ user.username }}</strong>!</p>
            <form method="post" class="inline" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class='btn' type="submit">Logout</button>
            </form>
            <form method="get" class="inline" action="{% url 'display_profile' %}">
                <button class='btn' type="submit">Account</button>
            </form>
        
        {% else %}
        <a class="btn" href="/login/">Log in</a>
        <a class="btn" href="/signup">Sign up</a>
        {% endif %}        
    </nav>
</header>
