<header>
    <nav>
        <ul>
            <p><a href="{% url "home_view" %}">Home</a></p>
            {% if user.is_authenticated %}
            <li class="user-header">
                <p class="inline">Hello <strong>{{ user.username }}</strong>!
                    <form method="post" class="inline" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button class='button2' type="submit">Logout</button>
                    </form>
                    <form method="get" class="inline" action="{% url 'display_profile' %}">
                        <button class='button2' type="submit">Account</button>
                    </form>
                </p>
            </li>
            {% else %}
            <li class="user-header">
            <a class='button2' href="/login/">Log in</a>
            <a class='button2' href="/signup">Sign up</a>
            </li>
            {% endif %}

        </ul>
    </nav>


</header>