*{
    margin : 0;
    padding:  0;
    box-sizing: border-box;
    }
    
    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #ffffff;
        color: #333;
        padding: 20px;
    }
    
    footer {
        background-color: #333;
        text-align: center;
        padding: 10px 0;
        padding-top : 10%;
      }

    h1,h2 {
        color: #444;
        margin-bottom: 20px;
        text-align: center;
    }
    
    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 auto;
        max-width: 800px;
    }
    
    li {
        background-color: #ffffff;
        padding: 5px;
        margin-bottom: 2px;
        border: 1px solid #ddd;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        
    }
    
    li:hover {
        transform: translate((-5px));
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
    
    li p strong {
        font-size: 1.2em;
        color: #007BFF;
    }
    
    li p {
        margin-top: 10px;
        color: #555
    }

    .user-header{
        position: fixed;
        right: 1%;
        top: 1%;
        padding: 10px;
        border: 1px solid #000;
    }

    .inline {
        display: inline;
    }

    .footer{
        position: fixed;
        bottom: 1%;
        left: 50%;        
    }

    strong.green {
        color: darkgreen;
    }

    a.button2 {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: grey;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    a.button2:hover {
        background-color: lightgray;
    }

    button.button2 {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        background-color: grey;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin-bottom: 10px;
    }

    button.button2:hover {
        background-color: lightgray;
    }

    div.header {
        padding-bottom: 10%;
    }

    div.footer {
        padding-top: 5%;
    }